<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpl.edu.shoeStore.product.mapper.ProductVariantMapper">

    <select id="findByProductId" resultType="com.fpl.edu.shoeStore.product.entity.ProductVariant">
        SELECT * FROM product_variants WHERE product_id = #{productId} ORDER BY variant_id ASC
    </select>

    <update id="updateStock">
        UPDATE product_variants
        SET stock_qty = stock_qty + #{quantity}, updated_at = GETDATE()
        WHERE variant_id = #{variantId}
    </update>

    <select id="countLowStock" resultType="long">
        SELECT COUNT(*) FROM product_variants WHERE stock_qty &lt; #{threshold}
    </select>
</mapper>