<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fpl.edu.shoeStore.voucher.mapper.VoucherMapper">

    <resultMap id="VoucherResultMap" type="com.fpl.edu.shoeStore.voucher.entity.Voucher">
        <id property="voucherId" column="voucher_id"/>
        <result property="code" column="code"/>
        <result property="description" column="description"/>
        <result property="voucherType" column="voucher_type"/>
        <result property="voucherValue" column="voucher_value"/>
        <result property="minSpend" column="min_spend"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="usageLimit" column="usage_limit"/>
        <result property="createdAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
    </resultMap>

    <sql id="Base_Column_List">
                voucher_id, [code], [description], voucher_type, voucher_value,
                min_spend, start_date, end_date, usage_limit, create_at, update_at
    </sql>

    <select id="findAll" resultMap="VoucherResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM voucher
        ORDER BY create_at DESC
    </select>

    <select id="findById" parameterType="int" resultMap="VoucherResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM voucher
        WHERE voucher_id = #{id}
    </select>

    <select id="findByCode" parameterType="String" resultMap="VoucherResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM voucher
        WHERE ([code]) LIKE ('%' + (#{code}) + '%')
    </select>

    <insert id="insert" parameterType="com.fpl.edu.shoeStore.voucher.entity.Voucher" useGeneratedKeys="true" keyProperty="voucherId">
        INSERT INTO voucher (
            [code], voucher_type, voucher_value, [description],
            min_spend, usage_limit, start_date, end_date, create_at, update_at
        )
        VALUES (
                   #{code}, #{voucherType}, #{voucherValue}, #{description},
                   #{minSpend}, #{usageLimit}, #{startDate}, #{endDate}, GETDATE(), GETDATE()
               )
    </insert>

    <update id="update" parameterType="com.fpl.edu.shoeStore.voucher.entity.Voucher">
        UPDATE voucher
        SET [code] = #{code},
            voucher_type = #{voucherType},
            voucher_value = #{voucherValue},
            [description] = #{description},
            min_spend = #{minSpend},
            start_date = #{startDate},
            end_date = #{endDate},
            usage_limit = #{usageLimit},
            update_at = GETDATE()
        WHERE voucher_id = #{voucherId}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM voucher WHERE voucher_id = #{id}
    </delete>

    <select id="findAllPaged" parameterType="map" resultMap="VoucherResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM voucher
        <where>
            <if test="voucherId != null">
                AND voucher_id = #{voucherId}
            </if>
            <if test="code != null and code != ''">
                AND ([code]) LIKE ('%' + (#{code}) + '%')
            </if>
            <if test="voucherType != null and voucherType != ''">
                AND voucher_type = #{voucherType}
            </if>
            <if test="minSpend != null">
                AND min_spend = #{minSpend}
            </if>
        </where>
        ORDER BY create_at DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="countAll" parameterType="map" resultType="long">
        SELECT COUNT(voucher_id)
        FROM voucher
        <where>
            <if test="voucherId != null">
                AND voucher_id = #{voucherId}
            </if>
            <if test="code != null and code != ''">
                AND ([code]) LIKE ('%' + (#{code}) + '%')
            </if>
            <if test="voucherType != null and voucherType != ''">
                AND voucher_type = #{voucherType}
            </if>
            <if test="minSpend != null">
                AND min_spend = #{minSpend}
            </if>
        </where>
    </select>

</mapper>